<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.url">jdbc:postgresql://localhost:5433/postgres</property>
      <property name="connection.username">postgres</property>
      <property name="connection.password">pass</property>
      <property name="connection.driver_class">org.postgresql.Driver</property>
      <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>
     <property name="hibernate.hbm2ddl.auto">create</property>
     <property name="hibernate.connection.isolation">8</property>

      <mapping class="com.lenarsharipov.entity.User"/>
      <mapping class="com.lenarsharipov.entity.Company"/>
      <mapping class="com.lenarsharipov.entity.Profile"/>
      <mapping class="com.lenarsharipov.entity.Chat"/>
      <mapping class="com.lenarsharipov.entity.UserChat"/>
      <mapping class="com.lenarsharipov.entity.Programmer"/>
      <mapping class="com.lenarsharipov.entity.Manager"/>
      <mapping class="com.lenarsharipov.entity.Payment"/>
      <mapping class="com.lenarsharipov.entity.Audit"/>

    <!-- DB schema will be updated if needed -->
  </session-factory>
</hibernate-configuration>